@import model.University
@(universityForm: Form[University])(implicit messages: Messages)

@import helper._


@main("Create a new University Record") {


    <h1>Add a university</h1>

    @form(routes.UniversityController.saveUniversity) {
        <fieldset>
            @inputText(universityForm("name"))
            @inputText(universityForm("country"))
            @inputText(universityForm("other"))
            @inputText(universityForm("scheme"))
            @inputText(universityForm("rank"))
        </fieldset>
        <div class="actions">
            <input type="submit" value="Create this university" class="btn primary"> or
            <a href="@routes.UniversityController.index" class="btn">Cancel</a>
        </div>


    }

}