@import model.University
@(Name: String, universityForm: Form[University])(implicit request: MessagesRequestHeader)

@import helper._

@main("University database") {
    <div>
        <div id="universities">
            <h2>Update University here:</h2>

            @form(routes.UniversityController.updateUniversity(Name)) {
                @inputText(universityForm("name"))
                @inputText(universityForm("rank"))
                @CSRF.formField

                <div class="actions">
                    <input type="submit" value="Save this university" class="btn primary"> or
                    <a href="@routes.UniversityController.index" class="btn">Cancel</a>
                </div>
            }

            @form(routes.UniversityController.deleteUniversity(Name)) {
                <input type="submit" value="Delete this University" class="btn danger">
                }
        </div>
    </div>
}