@import model.Student
@import model.searchDemo
@(students: Seq[Student],studentForm: Form[searchDemo])(implicit messages: Messages)
@import helper._

@main("Student database") {
    <div>
        <div id="universities">
        @form(routes.HomeController.searchStudent) {
                @inputText(studentForm("name"))
            <div class="actions">
                <input type="submit" value="Create this student" class="btn primary">
            </div>
        }
        </div>

        <div id="students">
            <h2>Previously inserted students:</h2>
            <table>
                <tr><th>Application Number</th><th>Name</th><th>Gender</th><th>Delete</th><th>Edit</th></tr>
                @for(s <- students){
                    <tr>
                        <td>@s.ApplicationNum</td>
                        <td>@s.Name</td>
                        <td>@s.Gender</td>
                        <td>
                            <a href="@routes.HomeController.deleteStudent(s.ApplicationNum)">Delete</a>
                        </td>
                        <td>
                            <a href="@routes.HomeController.editStudent(s.ApplicationNum)">Edit</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}