@import model.Student
@(studentForm: Form[Student], students: Seq[Student])
@import helper._

@main("Student database") {
    <div>
        <div id="actions">
            <a class="btn success" id="add" href="@routes.HomeController.createStudent">Add a new student</a>
        </div>

        <div id="students">
            <h2>Previously inserted students:</h2>
            <table>
                <tr><th>Application Number</th><th>Name</th><th>Gender</th><th>Delete</th></tr>
                @for(s <- students){
                    <tr>
                        <td>@s.ApplicationNum</td>
                        <td>@s.Name</td>
                        <td>@s.Gender</td>
                        <td>
                            <a href="@routes.HomeController.deleteStudent(s.ApplicationNum)">Delete</a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}