@import model.University
@(universityForm: Form[University], universities: Seq[University])(implicit request: MessagesRequestHeader)
@import helper._

@main("University database") {
    <div>
        <div id="actions">
            <a class="btn success" id="add" href="@routes.UniversityController.createUniversity">Add a new University</a>
        </div>

        <div id="students">
            <h2>Previously inserted universities:</h2>
            <table>
                <tr><th>Name</th><th>Rank</th></tr>
                @for(u <- universities){
                    <tr><td>@u.Name</td><td>@u.Rank</td></tr>
                }
            </table>
        </div>
    </div>
}